*{
    box-sizing: border-box;
    font-weight: bold;
}

/*Mobile First*/

body{
    margin: 0;
    margin-left: 3px;
    background: #ffcbcb;
    font-family: 'Roboto', sans-serif;
}


.link {
    border-radius: 4px;
    text-decoration: none;
    background: #6b705c;
    color:#ededed;
    height: 20px;
    font-weight: normal;
}

#lost_in_this_web{
    width: 250px;
    height: 250px;
    margin-left: 60px;
    margin-top: 80px;
}

.transition{
    position: absolute;
}

.contained_projects{
    display: none;
}

#my_projects_title{
    display: inline;
}

#see_all{
    margin-left: 190px;
}

.project_image{
    width: 50px;
    height: 50px;
}

.project_title{
    font-size: x-small;
}

.project{
    display: inline-block;
    margin-left: 40px;
}

#QR_code_title{
    padding-top: 10px;
}

.html_css{
    width: 50px;
    height: 50px;
}

#js{

    width: 60px;
    height: 60px;
}

#JS_title{
    margin-bottom: 10px;
}


#php{
    width: 70px;
    height: 70px;  
}

#mysql{
    margin-left: 15px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;  
}

#MySQL_title{
    margin-left: 15px;
}

#linux{
    width: 50px;
    height: 50px;    
}


#git{
    width: 50px;
    height: 50px;   
}

.separated_tech{
    display: inline-block;
}

.office{
    width: 20px;
    height: 20px;      
}

#network{
    margin-top: 50px;
}

#gitgub_network{
    margin-top: 20px;
}

#linkedin_img{
    width: 50px;
    height: 50px;
}

#github_img{
    width: 50px;
    height: 50px;
}

.techs{
    margin-top: -20px;
}

.tool{
    display: inline-block;
    margin-left: 40px;
}

#container_tools{
    margin-left: -1px;
}

#jira_img{
    padding-bottom: 10px;
}

#trello_img{
    padding-bottom: 5px;
}

#miro_img{
    padding-bottom: 10px;
}

.office_tool{
    display: inline-block;
    margin-left: 40px;
}

.netwrok_blocks{
    display: inline-block;
}

#network{
    margin-left: 180px;
}

#networks_title{
    margin-bottom: -40px;
}

#swipe_up_img{
    position: fixed;
    width: 50px;
    height: 50px; 
    left: 400px;  
    bottom: 70px;
}

#submit{
    margin-top: 20px;
}